h1, h2, h3 {
	color: #464946;
	text-align: center;
	font-family: Georgia, serif;
}

.note {
	text-align: center;
	font-family: Georgia, serif;
	color: black;
	line-height: 1.4;
}

.nav {
	display: grid;
	grid-template-columns: auto;
}

ul.nav {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: Verdana, sans-serif;
	font-size: 17px;
	background: #333;
	height: 50px;
	line-height: 50px;
}

ul.nav a {
	display: block;
	padding: 0 50px;
	text-decoration: none;
	color: white;
}

ul.nav li {
	border-right: 1px solid #333333;
	float: left;
	text-align:center;
}

ul.nav a:hover, ul.nav a:active {
  color: #83a1cd;
}

.button {
  background-color: #83a1cd;
  border: none;
  padding: 20px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  margin-right: 20px;
  border-radius: 12px;
}

.style {
	color: black;
	font-size: 1em;
	font-style: Verdana, Sans-serif;
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a.top:hover, a.top:active {
	background: black;
	text-align: center;
	text-decoration: none;
	color: white;
}

img {
  background-color: #333;
  border: none;
  padding: 5px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 10px;
  margin-right: 20px;
}

.size {
	display: inline-block;
	width: 1045px;
	height: 350px;
}

/* Split the screen in half */
.split {
  height: 50%;
  position: absolute;
  overflow: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  display: inline-block;
  height: 330px;
  border-right: 2px solid black;
  width:50%;
  text-align: center;
}

/* Control the right side */
.right {
  right: 0;
  display: inline-block;
  height: 330px;
  width:50%;
  text-align: center;
  left: 50%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}